.button {
  border: none;
  outline: none;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 12px 16px;
  border-radius: 5px;
  color: #fff;
}
.button:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
.button:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }


.button.success {
  background: #73d11b;
}
.button:hover.success {
    background: #7cdf20;
  }

.button:active.success {
  background: #3fbd19;
}

.button.statis {
    background: #1e87dd;
  }

  .button:hover.statis {
    background: #67b6f7;
  }
  .button:active.statis {
    background: #116cb6;
  }